.header{
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 5px 0;
}

.header__container{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.header .logo{
    object-fit: contain;
    padding: 0px 10px 0px 15px;
    color: rgb(248, 244, 244);
}

.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header--search{
    display: none;
}

.header__searchInput{
    height: 20px;
    padding: 10px;
    border: none;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: unset;
}

.header__searchIcon{
    padding: 5px;
    height: 30px !important;
    background-color: #FEBD69;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__nav a{
    margin-right: 5px;
}

.header__basketIcon{
    height: 30px;
    width: unset !important;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header__optionLineOne{
    font-size: 12px;
}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
    font-size: 18px;
    white-space: nowrap;
}

.header__optionBasket{
    display: flex;
    align-items: center;
    color: white;
}

.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}

@media(max-width: 700px){

    .header{
        padding-bottom: 10px;
        flex-direction: column;
    }

    .header__container{
        justify-content: space-between;
    }

    .header--search{
        display: flex;
        flex: 1;
        align-items: center;
        border-radius: 24px;
        width: 95%;
        margin: 0 auto;
    }

    .header__search{
        display: none;
    }

    .header__optionLineOne{
        font-size: 10px;
    }

    .header__optionLineTwo{
        font-size: 16px;
    }

}

@media(max-width: 550px){
    .header--option:nth-child(3){
        display: none;
    }

    .header-email {
        display: none;
    }
}

@media(max-width: 400px){
    .header__logo{
        width: 70px;
    }
}

@media(max-width: 370px){
    .header--option{
        display: none;
    }

} 