.home{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.home__row{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  width: 95%;
  margin: 0 auto;
  z-index: 1;
}

.home__row > div:nth-child(1) {
  grid-column: 1 / span 3;
}

.home__row > div:nth-child(2) {
  grid-column: 4 / span 3;
}

.home__row > div:nth-child(3) {
  grid-column: 1 / span 2;
}

.home__row > div:nth-child(4) {
  grid-column: 3 / span 2;
}

.home__row > div:nth-child(5) {
  grid-column: 5 / span 2;
}

.home__row > div:nth-child(6) {
  grid-column: span 6;
}

.home__image{
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

@media(max-width: 768px){

  .home__image{
    margin-bottom: -130px;
    height: 350px;
  }

  .home__row > div:nth-child(3) {
    grid-column: 1 / span 3;
  }
  
  .home__row > div:nth-child(4) {
    grid-column: span 3;
  }

  .home__row > div:nth-child(5) {
    grid-column: 1 / span 3;
  }

  .home__row > div:nth-child(6) {
    grid-column: span 3;
  }
}

@media(max-width: 600px){
  .home__row{
    display: unset;
  }
}

@media(max-width: 400px){
  .home__image{
    height: 300px;
  }
}