*{
  margin: 0;
}

div{
  position: relative;
}

body {
  margin: 0;
  background-color: rgb(234, 237, 237) ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  font-weight: 600;
  font-size: 24px;
  background:linear-gradient(to right, #b68813, rgb(77, 73, 73)) ;
  background-clip: border-box;
  -webkit-background-clip:text;
  color: transparent;
  text-decoration: none;
}
